.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between; /* Adjust as needed */
    align-items: center; /* Adjust as needed */
  }

  /* Add styling to the flex items (optional) */
.my-video {
    width: 50%;
    flex-direction: row;
    padding: 10px;
    border: 1px solid #ddd;
  }

.my-card {
    flex-direction: row;
    padding: 10px;
    border: 1px solid #ddd;
  }