body {
  background: #333333;
  background-attachment: fixed;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 10px solid rgba(255, 255, 255, 0.5);
  margin: 10px;
  @media screen and (max-width: 1240px) {
    height: auto;
    display: flex;
    flex-direction: column;
    height: 1000px;
  }
}



nav {
    background-color: #EE5622;
    a {
        color: #333333;
    }
    #menuText {
        transition: transform 0.3s ease-in-out;
    }
}

.navbar-brand {
    color: #333333
}

.nav-link {
    color: #333333;
}

article {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    top: 10%;
    height: 60%;
    @media screen and (max-width: 960px) {
        flex-direction: column;
        align-content: center;
        align-items: center;
        gap: 42px;
        height: auto;
        width: 100%;
      }
}

.video-background {
  text-align: center;
  width: auto;
  height: auto;
  position: relative;
  height: 100%;
  padding: 2% 5%;
    iframe {
        @media screen and (max-width: 960px) {
            margin-top: 24px;
            width: 390px;
            height: auto;
        }
        @media screen and (max-width: 500px) {
            width: 240px;
            height: auto;
        }
    }
}

.bio {
    padding: 0 5% 0 0;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: end;
    p {
        font-size: 1.5em;
        letter-spacing: 1px;
        color: #fff;
        font-family: Oswald, sans-serif;
        text-align: center;
        font-weight: 200;
        font-style: normal;
        @media screen and (max-width: 1240px) {
            font-size: 1.0em;
        }
        @media screen and (max-width: 500px) {
            font-size: 12px;
        }
        .bio-highlights {
            color: #E0CA3C;
        }
      }
}

.accordion {
    background-color: #EAE6E5;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    top: 8%;
    left: 45%;
    width: 55%;
    height: 92%;
    @media screen and (max-width: 1240px) {
        position: relative;
        width: 100%;
        top: auto;
        left: auto;
        height: auto;
      }
    .project {
        .projectType {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 10px;
            h2 {
                margin: 8px;
                @media screen and (max-width: 1240px) {
                    font-size: 24px;
                  }
            }
            
        }
        .content {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            .project-card {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 100%;
                padding: 8px;
                gap: 12px;
            }
            h4 {
                @media screen and (max-width: 1240px) {
                    font-size: 16px;
                  }
            }
            p {
                display: none;
            }
            a {
                background-color: #EAE6E5;
                color: #333333;
                border-color: #7180B9;
                @media screen and (max-width: 1240px) {
                    font-size: 12px;
                    padding: 0;
                  }
            }
            img {
                @media screen and (max-width: 1240px) {
                    width: 25px;
                    height: 25px;
                  }
            }
        }
        .smallContent {
            width: 100%;
            background-color: #EE5622;
            @media screen and (min-width: 1240px) {
                display: none;
              }
                
            }
    @media screen and (max-width: 1240px) {
        position: relative;
      }
    }
}

.paragraphs {
    display: none;
    position: relative;
    justify-content: center;
    top: 5%;
    width: 45%;
    p {
            background-color: #F0F4EF;
            color: hsl(0 0% 40%);
            line-height: 1.75;
            border: 0;
            padding: 24px;
            border-radius: 16px;
            resize: none;
            inline-size: 575px;
            font-size: 1.2rem;
            color: #333333;
        }
}

#tooltip {
    position: absolute;
    display: none;
    background-color: #f0f4ef;
    color: #333333;
    font-size: 18px;
    text-decoration: underline;
    padding: 6px 16px;
    border-radius: 5px;
    z-index: 10;
  }

.title {
    position: absolute;
    top: 80%;
    width: 100%;
    display: flex;
    padding-left: 10%;
    .titleElements {
        display: flex;
        flex-direction: column;
        gap: 12px;
        h1 {
            font-size: 36px;
            letter-spacing: 3px;
            color: #fff;
            font-family: Oswald, sans-serif;
            text-align: center;
            @media screen and (max-width: 960px) {
                margin-top: 36px;
                width: auto;
                top: 66%;
            }
            
            }
        
            h1 span {
            font-family: sans-serif;
            letter-spacing: 0;
            font-weight: 300;
            font-size: 16px;
            line-height: 24px;
            }
        
            h1 span a {
            color: #fff;
            }
        
            .my-contacts {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                span {
                    color: #E0CA3C;
                    display: flex;
                    flex-direction: row;
                    margin: 0 20px
                    
                }
                
            }
    }
        @media screen and (max-width: 1240px) {
            position: absolute;
            top: 75%;
        }
    
}


