body {
  background: #333333;
  background-attachment: fixed;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 10px solid rgba(255, 255, 255, 0.5);
  border: 10px solid rgba(255, 255, 255, 0.5);
  margin: 10px;
  @media screen and (max-width: 1240px) {
    height: auto;
    display: flex;
    flex-direction: column;
    height: 800px;
  }
}
/* E0CA3C */

nav {
    /* background-color: #348AA7; */
    /* background-color: #4E878C; */
    /* background-color: #009FFD; */
    background-image: linear-gradient(
      var(--rotate)
      , #EAE6E5, #009FFD 43%, #E0CA3C);
      position: absolute;
      /* z-index: -1; */
      /* top: -1%;
      left: -2%; */
      animation: spin 2.5s linear infinite;
    a {
        color: #333333;
    }
    #menuText {
        transition: transform 0.3s ease-in-out;
    }
}

.navbar-brand {
    color: #333333;
}

.nav-link {
    color: #333333;
}

article {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    top: 10%;
    height: 60%;
    @media screen and (max-width: 960px) {
        flex-direction: column;
        align-content: center;
        align-items: center;
        gap: 42px;
        height: auto;
        width: 100%;
      }
}

.video-background {
  text-align: center;
  width: auto;
  height: auto;
  position: relative;
  height: 100%;
  padding: 2% 5%;
    iframe {
        @media screen and (max-width: 960px) {
            margin-top: 24px;
            width: 390px;
            height: auto;
        }
        @media screen and (max-width: 500px) {
            width: 240px;
            height: auto;
        }
    }
}

.bio {
    padding: 0 5% 0 0;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: end;
    p {
        background-color: #333333;
        font-size: 1.5em;
        letter-spacing: 1px;
        color: #fff;
        font-family: Oswald, sans-serif;
        text-align: center;
        font-weight: 200;
        font-style: normal;
        @media screen and (max-width: 1240px) {
            font-size: 1.0em;
        }
        @media screen and (max-width: 500px) {
            font-size: 12px;
        }
        .bio-highlights {
            color: #E0CA3C;
        }
      }
}

.accordion {
    background-color: #EAE6E5;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    top: 7%;
    left: 45%;
    width: 55%;
    height: 93%;
    @media screen and (max-width: 1240px) {
        position: relative;
        width: 100%;
        top: auto;
        left: auto;
        height: auto;
      }
    .project {
        .projectType {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 10px;
            h2 {
                margin: 8px;
                @media screen and (max-width: 1240px) {
                    font-size: 24px;
                  }
            }
            
        }
        .content {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            .project-card {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 100%;
                padding: 8px;
                gap: 12px;
            }
            h4 {
                @media screen and (max-width: 1240px) {
                    font-size: 16px;
                  }
            }
            p {
                display: none;
            }
            a {
                background-color: #EAE6E5;
                color: #333333;
                border-color: #7180B9;
                @media screen and (max-width: 1240px) {
                    font-size: 12px;
                    padding: 0;
                  }
            }
            img {
                @media screen and (max-width: 1240px) {
                    width: 25px;
                    height: 25px;
                  }
            }
        }
    @media screen and (max-width: 1240px) {
        position: relative;
      }
    }
}

.paragraphs {
    background:hsl(0 0% 40%);
    padding: 3px;
    border-radius: 12px;
    left: 4%;
    position: relative;
    top: 8%;
    max-width: 620px;
    
    @media screen and (max-width: 1240px) {
        display: none;
      }
    p {
        font-family: sans-serif;
        letter-spacing: 0;
        font-weight: 300;
        font-size: 16px;
        color: hsl(0 0% 40%);
        line-height: 2;
        padding: 24px;
        inline-size: 575px;
        font-size: 1rem;
        color: #fff;
    }
}

@property --rotate {
    syntax: "<angle>";
    initial-value: 132deg;
    inherits: false;
  }

  @keyframes spin {
    0% {
      --rotate: 0deg;
    }
    100% {
      --rotate: 360deg;
    }
  }
  
  
  .paragraphs::before {
    content: "";
    width: 104%;
    height: 102%;
    border-radius: 8px;
    background-image: linear-gradient(
      var(--rotate)
      , #5ddcff, #3c67e3 43%, #4e00c2);
      position: absolute;
      z-index: -1;
      top: -1%;
      left: -2%;
      animation: spin 2.5s linear infinite;
  }

#tooltip {
    position: absolute;
    display: none;
    background-color: #f0f4ef;
    color: #333333;
    font-size: 18px;
    text-decoration: underline;
    padding: 6px 16px;
    border-radius: 5px;
    z-index: 10;
  }

.title {
    position: absolute;
    top: 80%;
    width: 50%;
    display: flex;
    padding-left: 5%;
    .titleElements {
        display: flex;
        flex-direction: column;
        gap: 12px;
        h1 {
            font-size: 36px;
            letter-spacing: 3px;
            color: #fff;
            font-family: Oswald, sans-serif;
            text-align: center;
            }
        
            h1 span {
            font-family: sans-serif;
            letter-spacing: 0;
            font-weight: 300;
            font-size: 16px;
            line-height: 24px;
            }
        
            h1 span a {
            color: #fff;
            }
        
            .my-contacts {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                span {
                    color: #E0CA3C;
                    display: flex;
                    flex-direction: row;
                    margin: 0 20px
                }
                
            }
    }
    img {
        /* border: 3px solid #009FFD; */
        border: 3px solid #E0CA3C;
        @media screen and (max-width: 960px) {
            display: none;     
        }
    }
        @media screen and (max-width: 1240px) {
            position: absolute;
            top: 70%;
            left: 10%
        }
    
}


.skills {
text-align: center;
margin-left: auto;
margin-right: auto;
max-width: 800px;
font-family: "Raleway", sans-serif !important;
color: #EAE6E5;
margin-top: 24px;
}

.container-skillbar {
    width: 100%;
    padding-top: 30px;
    padding-right: 2%;
    padding-left: 2%;
    height: auto;
    overflow: none;
  }

.skillbar {
    cursor: pointer;
    position: relative;
    display: block;
    margin-bottom: 15px;
    width: 100%;
    background: #efefef;
    height: 30px;
    border-radius: 3px;
  }
  
  .skillbar-title {
    position: absolute;
    top: 0;
    left: 0;
    width: 110px;
    font-weight: bold;
    font-size: 13px;
    color: #fff;
    background: #6adcfa;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
  }
  
  .skillbar-title span {
    display: block;
    background: rgba(0, 0, 0, 0.15);
    padding: 0 20px;
    height: 30px;
    line-height: 30px;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
  }
  
  .skillbar-bar {
    height: 30px;
    width: 0px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
  }
  
  .skill-bar-percent {
    position: absolute;
    right: 10px;
    top: 0;
    font-size: 14px;
    height: 30px;
    line-height: 30px;
    color: #333333;
  }
